<h1>Create New Park</h1>

<div class="container">

  <%= bootstrap_form_for(@new_park, inline_errors: true) do |f| %>
    <%= f.text_field :name, label: "Park Name", placeholder: "Enter the park name" %>
    <%= f.text_field :description %>
    <%= f.text_field :picture, label: "Picture URL", help: "Please enter valid url", icon: "camera"%>
    <%= f.primary "Submit"%>
  <% end %>

</div>
