<h1>Park</h1>

<strong>Name:</strong> <%= @parks.name %>
<br>

<strong>Desciption:</strong> <%= @parks.description %>
<br>

<strong>Picture:</strong>
<br>
<img src="<%= @parks.picture %>" width="600px", alt="Park Picture">

<p><%= link_to "Edit Park", edit_park_path, class: "btn btn-success" %> <%= link_to "Delete Park", edit_park_path, class: "btn btn-danger disabled" %></p>
